<ion-header>
  <ion-toolbar color="dark">
    <ion-title>sleepiness</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back"></ion-icon>
        BACK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large" >Sleepiness</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item color="dark">
    <ion-label>Start:</ion-label>
    <ion-datetime class="calendar" [(ngModel)]="date" displayFormat="MM/DD/YYYY" presentation="date" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <div class="text">
    <p class="index">sleepiness index: </p>
    <ion-label class="num">{{sleepExtent}}</ion-label>
  </div>
  
  <ion-range [(ngModel)]="sleepExtent" (ngModelChange)="changeSleepiness()" color="light" min="1" max="7" step="1" snaps="true"  pin="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">7</ion-label>
  </ion-range>
  <p class="text">{{context}}</p>
  <!-- <ion-item>
  </ion-item> -->
  <ion-button color="success" class='confirm' (click)="confirm()">Confirm</ion-button>

</ion-content>
